.top-bar {
	background:#f6f8f9;
	padding: 12px 0;
	.social {
		a {
			display: inline-block;
			width: 37px;
			height: 37px;
			border-radius: 50%;
			background:#fff;
			line-height: 35px;
			text-align: center;
			font-size: 13px;
			border: 1px solid #ececec;
			transition: all .4s ease;
			+ a {
				margin-left: 10px;
			}
			&:hover {
				background:#00aedd;
				color: #fff;
				border-color: #00aedd;
			}
		}
	}
	.link {
		margin: 4px 0;
		span {margin: 0 18px;}
		a {
			font-size: 14px;
			i {color: #00aedd;margin-right: 7px;}
		}
	}
}